# macOS
.DS_Store

# Binaries
/client_app
/server

# macOS debug symbols
*.dSYM/

# Object files (future-proof)
*.o

# CMake build directory
/build/

# New CMake binaries
/mini-redis-server
/mini-redis-client

# IDE files
/.vscode/
/.idea/
/compile_commands.json

/docs